[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
pillow = "*"
pyzbar = {path = "./pyzbar"}
python-dotenv = "*"
transitions = "*"
pycryptodomex = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.10"
