{% extends "layouts/base.html" %}

{% block content %}
	<div class="alert alert-info" role="alert">
		If you have any issues, try refreshing the page. You can also ask for help on the <a class="link-info" href="{{ discord_url }}">{{ discord_name }} Discord</a>.
	</div>
	<div class="d-grid gap-3">
		<div class="card">
			<h4 class="card-header">Welcome to {{ site_title }}!</h4>
			<div class="card-body">
				<p class="card-text">
					Welcome to <strong>{{ site_title }}</strong>, a service made possible by volunteers with powerful GPUs! This site helps to obtain your console's unique encryption key (<code>movable.sed</code>) by bruteforcing it with a powerful GPU. To get started, choose a method below.
				</p>
			</div>
		</div>
		<div>
			<div class="card">
				<h4 class="card-header">Step 1: Choose a Method</h4>
				<div class="collapse" id="methodStepCollapse">
					<form id="methodForm" class="card-body">
						<div class="mb-3 row g-3" id="methodCardGroup">
							<div class="col-md-6">
								<div class="card btn p-0 text-start focus-ring border-success" id="methodCardFc">
									<div class="card-body">
										<input type="radio" class="btn-check" name="methodRadio" id="methodButtonFc" value="fc-lfcs" checked>
										<h5 class="card-title"><label for="methodButtonFc">Friend Code Mining</label></h5>
										<p class="card-text">
											This uses the data obtained from a two-way friend exchange as a starting point for bruteforcing.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card btn p-0 text-start focus-ring border-secondary-subtle" id="methodCardMii">
									<div class="card-body">
										<input type="radio" class="btn-check" name="methodRadio" id="methodButtonMii" value="mii-lfcs">
										<h5 class="card-title"><label for="methodButtonMii">Mii Mining</label></h5>
										<p class="card-text">
											This uses a Mii QR code instead of a two-way friend exchange, but is significantly more time-consuming.
										</p>
									</div>
								</div>
							</div>
							<!-- part1: This uses the user provided movable_part1.sed as a starting point for bruteforcing. -->
						</div>
						<button type="submit" class="btn btn-success">Get started <i class="fa-solid fa-arrow-right"></i></button>
					</form>
				</div>
			</div>
			<div class="card">
				<h4 class="card-header">Step 2: Console Information</h4>
				<div class="collapse" id="fcSubmitStepCollapse">
					<form id="fcJobForm" class="card-body">
						<div class="d-grid gap-3 mb-3">
							<div class="card-text">
								This section is for <b>friend code mining</b>. To get started, enter your console's information into the boxes below.
							</div>
							<div>
								<label for="fc_id0" class="form-label">ID0</label>
								<input required type="text" class="form-control" id="fc_id0" name="id0" placeholder="a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5">
								<div class="invalid-feedback">
									Your ID0 should be a 32-character hex string. Also make sure it's not an ID1 (the 2nd level folder name).
								</div>
							</div>
							<div>
								<label for="fc_friend_code" class="form-label">Friend code</label>
								<input required type="text" class="form-control" id="fc_friend_code" name="friend_code" placeholder="123456789012">
								<div class="invalid-feedback">
									This is not a valid friend code.
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
						<button type="button" class="btn btn-secondary" id="fcJobBackButton">Back</button>
					</form>
				</div>
				<div class="collapse" id="miiSubmitStepCollapse">
					<form id="miiJobForm" class="card-body">
						<div class="d-grid gap-3 mb-3">
							<div class="card-text">
								This section is for <b>Mii mining</b>. To get started, enter your console's information into the boxes below.
							</div>
							<div>
								<label for="mii_id0" class="form-label">ID0</label>
								<input required type="text" class="form-control" id="mii_id0" name="id0" placeholder="a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5">
								<div class="invalid-feedback">
									Your ID0 should be a 32-character hex string. Also make sure it's not an ID1 (the 2nd level folder name).
								</div>
							</div>
							<div>
								<label for="mii_model" class="form-label">Model</label>
								<select required id="mii_model" class="form-control" name="model">
									<option selected disabled value="">Choose...</option>
									<option value="old">Old</option>
									<option value="new">New</option>
								</select>
								<div class="invalid-feedback">
									Please choose your device's model.
								</div>
							</div>
							<div>
								<label for="mii_year" class="form-label">Manufacturing year</label>
								<input type="number" class="form-control" id="mii_year" name="year" min="2011" max="2020" value="" placeholder="20XX">
								<div class="invalid-feedback">
									Please enter a year between 2011-2020, or leave blank.
								</div>
							</div>
							<div>
								<!-- TODO fix for attribute on label to work for both file and URL (wrap in div?) -->
								<label for="mii_file" class="form-label">Mii QR code</label>
								<input type="file" class="form-control collapse" id="mii_file" name="mii_file" accept=".jpg,.bin">
								<input type="text" class="form-control collapse" id="mii_url" name="mii_url" placeholder="https://example.com/path/to/HNI_XXXX.JPG">
								<div class="invalid-feedback">
									Your Mii data is invalid.
								</div>
								<button type="button" class="btn btn-link btn-sm p-0" id="miiUploadToggle"></button>
							</div>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
						<button type="button" class="btn btn-secondary" id="miiJobBackButton">Back</button>
					</form>
				</div>
			</div>
			<div class="card">
				<h4 class="card-header">Step 3: Obtain LFCS</h4>
				<div class="collapse" id="fcLfcsStepCollapse">
					<div class="card-body">
						<div class="alert alert-info" role="alert">
							Using the 3DS friends list, regsiter <b id="botFriendCode">????-????-????</b> as a new online friend.
							Feel free to enter any name you wish, it is not important.
							If you need assistance adding a friend, check Nintendo's instructions
							<a class="link" href="https://www.nintendo.co.uk/Support/Nintendo-3DS-2DS/FAQ/Hardware/How-do-I-register-friends-/How-do-I-register-friends-242795.html">here</a>.
						</div>
						<div class="d-grid gap-3 mb-3">
							<div class="card-text">
								It is connected to this service and will automatically retrieve your <code>movable_part1.sed</code> when you add it to your friend list.
								Add the friend code provided above and just wait for it to process, this site should proceed automatically.
							</div>
							<div>
								<span class="spinner-border spinner-border-sm" role="status"></span>
								<span class="ms-2" id="fcLfcsStatus">Please wait...</span>
							</div>
							<div class="card-text">
								Alternatively, you can manually obtain <code>movable_part1.sed</code> by using <a class="link" href="https://github.com/zoogie/seedminer/releases/tag/v2.1">seedStarter</a> on a second, already-modded console. If you choose to do so, upload the file <a data-bs-toggle="collapse" href="#fcLfcsForm" role="button" aria-expanded="false" aria-controls="fcLfcsForm">here</a>.
							</div>
							<form id="fcLfcsForm" class="collapse">
								<div class="mb-3">
									<label class="form-label" for="lfcs_file">Movable part1 file</label>
									<input type="file" class="form-control collapse" id="lfcs_file" name="lfcs_file" accept=".sed">
									<input type="text" class="form-control collapse" id="lfcs_url" name="lfcs_url" placeholder="https://example.com/path/to/movable_part1.sed">
									<div class="invalid-feedback">
										Your part1 data is invalid.
									</div>
									<button type="button" class="btn btn-link btn-sm p-0" id="lfcsUploadToggle"></button>
								</div>
								<button type="submit" class="btn btn-success">Submit</button>
							</form>
						</div>
						<button class="btn btn-danger" id="fcLfcsCancelButton">Cancel</button>
					</div>
				</div>
				<div class="collapse" id="miiLfcsStepCollapse">
					<div class="card-body">
						<div class="d-grid gap-3 mb-3">
							<div class="card-text">
								Please wait for the mining process to complete. This process can take up to 90 minutes, so feel free to leave this website running in the background, or even close it. While you wait, please ensure your ID0 is correct, and cancel the job if it is not. Otherwise, you will be waiting forever!
							</div>
							<div>
								<span class="spinner-border spinner-border-sm" role="status"></span>
								<span id="miiLfcsStatus" class="m-2">Please wait...</span>
							</div>
							<div class="alert alert-dark mb-0" role="alert">
								<div>
									<div>System ID: <span id="miiLfcsSysId"></span></div>
									<div>Assigned to: <span id="miiLfcsAssignee"></span></div>
								</div>
								<div class="mt-2 collapse" id="miiLfcsStatsCollapse">
									<div>Hash rate: <span id="miiLfcsStatHash">0</span> M/s</div>
									<div>Current offset: <span id="miiLfcsStatOffset"></span></div>
								</div>
							</div>
						</div>
						<button class="btn btn-danger" id="miiLfcsCancelButton">Cancel</button>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-header">Step 4: Obtain msed</h4>
				<div class="collapse" id="msedStepCollapse">
					<div class="card-body">
						<div class="d-grid gap-3 mb-3">
							<div class="card-text">
								Please wait for the mining process to complete. This process can take up to an hour, so feel free to leave this website running in the background, or even close it. While you wait, please ensure your ID0 is correct, and cancel the job if it is not. Otherwise, you will be waiting forever!
							</div>
							<div>
								<span class="spinner-border spinner-border-sm" role="status"></span>
								<span id="msedStatus" class="m-2">Please wait...</span>
							</div>
							<div class="alert alert-dark mb-0" role="alert">
								<div>
									<div>ID0: <span id="msedId0"></span></div>
									<div>LFCS: <span id="msedLfcs"></span></div>
									<div>Assigned to: <span id="msedAssignee"></span></div>
								</div>
								<div class="mt-2 collapse" id="msedStatsCollapse">
									<div>Hash rate: <span id="msedStatHash">0</span> M/s</div>
									<div>Current offset: <span id="msedStatOffset"></span></div>
								</div>
							</div>
						</div>
						<button class="btn btn-danger" id="msedCancelButton">Cancel</button>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-header">Step 5: Done!</h4>
				<div class="collapse" id="doneStepCollapse">
					<div class="card-body">
						<p class="card-text">
							Good news, the mining is complete! Download your <code>movable.sed</code> using the button below. If you ended up here immediately after submitting a job, go ahead and continue with the provided download.
						</p>
						<a id="movableDownload" href="#" class="btn btn-success">movable.sed <i class="fa fa-download"></i></a>
						<button id="doAnotherButton" class="btn btn-secondary">Do another device</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="canceledModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mining Canceled</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>The mining job was canceled, either in another tab or by an administrator.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="failedModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mining Failed</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>We were not able to successfully complete your mining request. To resolve the issue, please first verify that you entered all information correctly:</p>
					<ul>
						<li>Ensure you entered the correct ID0 by copy-pasting the 32-character folder name inside your &quot;Nintendo 3DS&quot; folder. If you have multiple, follow the steps <a href="{{ id0_help_url }}">here</a> to determine the correct one.</li>
						<li>Ensure that your Mii QR code belongs to the console you are attempting to mine for.</li>
						<li>Ensure you selected the correct model for your console. As a reference, new consoles have 4 shoulder buttons (L,ZL,ZR,R), while old consoles only have 2 (L,R).</li>
					</ul>
					<p>If you are sure all information is correct and the job still cannot be completed, please reach out on the <a class="link" href="{{ discord_url }}">{{ discord_name }} Discord</a>.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
				</div>
			</div>
		</div>
	</div>	
	<script type="module" src="{{ url_for('serve_js', filename='client.js') }}"></script>
{% endblock %}
