{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
	<div class="card mb-3">
		<h4 class="card-header">Welcome to {{ title }}!</h4>
		<div class="card-body">
			<p class="card-text">
				Welcome to <strong>{{ title }}</strong>, a service made possible by volunteers with powerful GPUs! This site helps to obtain your console's unique encryption key (<code>movable.sed</code>) by bruteforcing it with a powerful GPU. To get started, choose a method below.
			</p>
		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 g-3">
		<div class="col">
			<div class="card">
				<h5 class="card-header">Part1 Mining</h5>
				<div class="card-body">
					<p class="card-text">This uses the data obtained from a two-way friend exchange as a starting point for bruteforcing.</p>
					<a href="{{ url_for('page_part1') }}" class="btn btn-primary">Get started <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<h5 class="card-header">Mii Mining</h5>
				<div class="card-body">
					<p class="card-text">This uses a Mii QR code instead of a two-way friend exchange, but is significantly more time-consuming.</p>
					<a href="{{ url_for('page_mii') }}" class="btn btn-primary">Get started <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
