{% extends "layouts/base.html" %}

{% block content %}
	<div class="alert alert-info" role="alert">
		If you have any issues, try refreshing the page. You can also ask for help on the <a class="link-info" href="{{ discord_url }}">{{ discord_name }} Discord</a>.
	</div>
	<div class="card">
		<h4 class="card-header">Step 1: Console Information</h4>
		<div id="card1" class="collapse">
			<form id="jobForm" class="card-body">
				<div class="mb-3 card-text">
					Welcome to <strong>{{ title }}</strong>, a service made possible by volunteers with powerful GPUs! To get started, enter your console's information into the boxes below.
				</div>
				<div class="mb-3">
					<label for="id0" class="form-label">ID0</label>
					<input required type="text" class="form-control" id="id0" name="id0" placeholder="a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5">
					<div class="invalid-feedback">
						Your ID0 should be a 32-character hex string.
					</div>
				</div>
				<div class="mb-3">
					<label for="friend_code" class="form-label">Friend code</label>
					<input required type="text" class="form-control" id="friend_code" name="friend_code" placeholder="123456789012">
					<div class="invalid-feedback">
						Your friend code should be a 12-digit number.
					</div>
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
	<div class="card">
		<h4 class="card-header">Step 2: Part1 File</h4>
		<div id="card2" class="collapse">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					Using the 3DS friends list, regsiter <b id="botFriendCode"></b> as a new online friend. Feel free to enter any name you wish, it is not important. If you need assistance adding a friend, check Nintendo's instructions <a class="link" href="https://www.nintendo.co.uk/Support/Nintendo-3DS-2DS/FAQ/Hardware/How-do-I-register-friends-/How-do-I-register-friends-242795.html">here</a>.
				</div>
				<div class="mb-3 card-text">
					It is connected to this service and will automatically retrieve your <code>movable_part1.sed</code> when you add it to your friend list. Add the friend code provided above and just wait for it to process, this site should proceed automatically.
				</div>
				<div class="mb-3">
					<span class="spinner-border spinner-border-sm" role="status"></span>
					<span id="part1Status" class="m-2">Please wait...</span>
				</div>
				<div class="card-text">
					Alternatively, you can manually obtain <code>movable_part1.sed</code> by using <a class="link" href="https://github.com/zoogie/seedminer/releases/tag/v2.1">seedStarter</a> on a second, already-modded console. If you choose to do so, upload the file <a data-bs-toggle="collapse" href="#part1Form" role="button" aria-expanded="false" aria-controls="part1Form">here</a>.
				</div>
				<form id="part1Form" class="collapse mt-3">
					<div class="mb-3">
						<label for="part1_file" class="form-label">Movable part1 file</label>
						<input type="file" class="form-control collapse" id="part1_file" name="part1_file" accept=".jpg,.bin">
						<input type="text" class="form-control collapse" id="part1_url" name="part1_url" placeholder="https://example.com/path/to/movable_part1.sed">
						<div class="invalid-feedback">
							Your part1 data is invalid.
						</div>
						<button type="button" class="btn btn-link btn-sm p-0" id="part1UploadToggle"></button>
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="card">
		<h4 class="card-header">Step 3: Mining</h4>
		<div id="card3" class="collapse">
			<div class="card-body">
				<p class="card-text mb-3">
					Please wait for the mining process to complete. This process can take up to 90 minutes, so feel free to leave this website running in the background, or even close it. While you wait, please ensure your ID0 is correct, and cancel the job if it is not. Otherwise, you will be waiting forever!
				</p>
				<p class="card-text mb-2">
					ID0: <span id="miningId0"></span>
				</p>
				<div class="mb-3">
					<span class="spinner-border spinner-border-sm" role="status"></span>
					<span id="miningStatus" class="m-2"></span>
				</div>
				<button id="cancelJobButton" class="btn btn-danger">Cancel</button>
			</div>
		</div>
	</div>
	<div class="card">
		<h4 class="card-header">Step 4: Done!</h4>
		<div id="card4" class="collapse">
			<div class="card-body">
				<p class="card-text">
					Good news, the mining is complete! Download your <code>movable.sed</code> using the button below. If you ended up here immediately after submitting a job, go ahead and continue with the provided download.
				</p>
				<a id="movableDownload" href="" class="btn btn-success">movable.sed <i class="fa fa-download"></i></a>
				<button id="doAnotherButton" class="btn btn-light">Do another device</button>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="canceledModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mining Canceled</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>The mining job was canceled, either in another tab or by an administrator.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="failedModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mining Failed</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>We were not able to successfully complete your mining request. To resolve the issue, please first verify that you entered all information correctly:</p>
					<ul>
						<li>Ensure you entered the correct ID0 by copy-pasting the 32-character folder name inside your &quot;Nintendo 3DS&quot; folder. If you have multiple, follow the steps <a href="{{ id0_help_url }}">here</a> to determine the correct one.</li>
						<li>Ensure that your Mii QR code belongs to the console you are attempting to mine for.</li>
						<li>Ensure you selected the correct model for your console. As a reference, new consoles have 4 shoulder buttons (L,ZL,ZR,R), while old consoles only have 2 (L,R).</li>
					</ul>
					<p>If you are sure all information is correct and the job still cannot be completed, please reach out on the <a class="link" href="{{ discord_url }}">{{ discord_name }} Discord</a>.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
				</div>
			</div>
		</div>
	</div>	
	<script type="module" src="{{ url_for('serve_js', filename='client_part1.js') }}"></script>
{% endblock %}
