{% extends "layouts/base.html" %}

{% block title %}{{ site_title }} - Mining Job{% endblock %}

{% block content %}
	<div class="alert alert-info" role="alert">
		If you have any issues, try refreshing the page. You can also ask for help on the <a class="link-info" href="{{ discord_url }}">{{ discord_name }} Discord</a>.
	</div>
	<div class="card">
		<h4 class="card-header">Step 1: Choose a Method</h4>
		<div id="methodCard" class="collapse show">
			<form id="methodForm" class="card-body">
				<div class="row mb-3">
					<div class="col-12 col-md-4">
						<div class="d-grid gap-3" role="group" aria-label="Mining method radio toggle button group">
							<input type="radio" class="btn-check" name="methodRadio" id="methodRadioFc" autocomplete="off" checked>
							<label class="btn border border-secondary-subtle text-start" for="methodRadioFc" id="methodRadioFcLabel">
								<h5 class="m-0 p-1">Friend Code Mining</h5>
							</label>
							<input type="radio" class="btn-check" name="methodRadio" id="methodRadioMii" autocomplete="off">
							<label class="btn border border-secondary-subtle text-start" for="methodRadioMii" id="methodRadioMiiLabel">
								<h5 class="m-0 p-1">Mii Mining</h5>
							</label>
						</div>
					</div>
					<div class="col-12 col-md-8">
						<div class="card">
							<h5 class="card-header">You will need...</h5>
							<div class="card-body collapse show">
								<p class="card-text">This uses the data obtained from a two-way friend exchange as a starting point for bruteforcing.</p>
								<ul class="card-text">
									<li>Your friend code</li>
									<li>Your console's ID0</li>
								</ul>
							</div>
							<div class="card-body collapse">
								<p class="card-text">This uses a Mii QR code instead of a two-way friend exchange, but is significantly more time-consuming.</p>
								<ul class="card-text">
									<li>A Mii QR code from your console</li>
									<li>Your console's ID0</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<button type="submit" class="btn btn-success">Get started <i class="fa-solid fa-arrow-right"></i></button>
			</form>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="canceledModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mining Canceled</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>The mining job was canceled, either in another tab or by an administrator.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" id="failedModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mining Failed</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>We were not able to successfully complete your mining request. To resolve the issue, please first verify that you entered all information correctly:</p>
					<ul>
						<li>Ensure you entered the correct ID0 by copy-pasting the 32-character folder name inside your &quot;Nintendo 3DS&quot; folder. If you have multiple, follow the steps <a href="{{ id0_help_url }}">here</a> to determine the correct one.</li>
						<li>Ensure that your Mii QR code belongs to the console you are attempting to mine for.</li>
						<li>Ensure you selected the correct model for your console. As a reference, new consoles have 4 shoulder buttons (L,ZL,ZR,R), while old consoles only have 2 (L,R).</li>
					</ul>
					<p>If you are sure all information is correct and the job still cannot be completed, please reach out on the <a class="link" href="{{ discord_url }}">{{ discord_name }} Discord</a>.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
				</div>
			</div>
		</div>
	</div>	
	<script type="module" src="{{ url_for('serve_js', filename='client.js') }}"></script>
{% endblock %}
