<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>{% block title %}MovableQ{% endblock %}</title>
	<link rel="icon" href="favicon.png">
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="bg-dark-subtle d-flex flex-column h-100">
	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('page_home') }}">{{ self.title() }}</a>
			<span class="navbar-text">
				<span id="waitingCount">?</span> jobs in queue,
				<span id="workingCount">?</span> active jobs,
				<span id="minerCount">?</span> miners,
				<span id="movableTotal">?</span> movables mined
			</span>
			<script type="module" src="{{ url_for('serve_js', filename='stats.js') }}"></script>
		</div>
	</nav>
	<br>
	<main class="flex-shrink-0 my-3 container card-body">
		{% block content %}{% endblock %}
	</main>
	<footer class="footer mt-auto">
		<nav class="navbar navbar-expand bg-body-tertiary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">		
							<a class="nav-link" href="{{ url_for('page_volunteer') }}">Mine for {{ self.title() }}</a> 
						</li>
						<div class="mx-1 my-2 vr"></div>
						<li class="nav-item">
							<a class="nav-link" href="https://github.com/cm-360/MovableQ">GitHub</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</footer>
</body>
</html>
