{% set fontawesome_version='6.4.2' %}

{% set github_url='https://github.com/cm-360/MovableQ' %}
{% set discord_url='https://discord.gg/C29hYvh' %}
{% set discord_name='Nintendo Homebrew' %}
{% set id0_help_url='https://3ds.hacks.guide/troubleshooting#seedminer' %}

{% set title='MovableQ' %}

<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>{% block title %}{{ title }}{% endblock %}</title>
	<link rel="icon" href="favicon.png">
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ fontawesome_version }}/css/all.min.css">
</head>
<body class="bg-dark-subtle d-flex flex-column h-100">
	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('page_home') }}">{{ title }}</a>
			<span class="navbar-text">
				<span id="waitingCount">?</span> jobs in queue,
				<span id="workingCount">?</span> active jobs,
				<span id="minerCount">?</span> miners online,
				<span id="movableTotal">?</span> movables mined
			</span>
			<script type="module" src="{{ url_for('serve_js', filename='stats.js') }}"></script>
		</div>
	</nav>
	<main class="flex-shrink-0 my-3 container card-body">
		{% block content %}{% endblock %}
	</main>
	<footer class="footer mt-auto">
		<nav class="navbar navbar-expand bg-body-tertiary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">		
							<a class="nav-link" href="{{ url_for('page_volunteer') }}">Volunteer</a>
						</li>
						<div class="mx-1 my-2 vr"></div>
						<li class="nav-item">
							<a class="nav-link" href="{{ github_url }}"><i class="fa-brands fa-github"></i> GitHub</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</footer>
</body>
</html>
