# The address and port for the Quart app to listen on.
HOST_ADDR=0.0.0.0
HOST_PORT=8080

# The credentials required for users to access the administrator panel. Make
# sure to choose secure values in production.
ADMIN_USER=admin
ADMIN_PASS=INSECURE

# The slot0x31KeyN required for AES decryption operations. This is only a
# placeholder value. For instructions on obtaining the key, refer to
# https://3ds.goombi.fr/convertMii/0x31.html and
# https://github.com/PabloMK7/citra/tree/master/dist/dumpkeys.
SLOT_31_KEY_N=0123456789ABCDEF0123456789ABCDEF
